caption {
  font-weight: bold;
  caption-side: top;
  background-color: floralwhite !important;
}

.proto-language {color: darkslategrey !important;}
.language {color: green !important;}
.proto-form {color: darkred !important;}
.form {color: darkblue !important;}

.gloss, .proto-gloss {
  color: black;
  font-family: "Times New Roman", Times, serif}

.proto-form::before {
  content: "*";
}
.implicit::after {
  content: " [i]";
}
table.noborder {
  border-collapse: collapse;
  margin: 0 auto;
}
.lline {
  margin-left: 35px;
  margin-right: -35px;
  float: left;
  height: 4em;
  width: 4em;
  border-left: 2px solid red;
  -moz-transform: skew(-45deg);
  -webkit-transform: skew(-45deg);
  transform: skew(-45deg);
}
.rline {
  margin-left: -5px;
  margin-right: 5px;
  float: left;
  height: 4em;
  width: 4em;
  border-right: 2px solid red;
  -moz-transform: skew(45deg);
  -webkit-transform: skew(45deg);
  transform: skew(45deg);
}
